.container {
    margin: 2em;
}

.avatar {   
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
}

.cover {
    height: 250px;
}

.image {
    width: 100%;
}

.dark {
    color: gray;
    font-size: 90%;
}

.role {
    background-color: #0074d9;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.kongge {
    margin-right: 0.5em;
}

.copyright {
    color: darkgray;
    display: block;
    /* text-align: center; */
}

.padding-auto {
    padding: 5px;
}

.top-layer {
    z-index: 1145141919810;
}

.nowarp {
    white-space: nowrap;
    overflow: auto;
}

.project {
    height: 525px;
    overflow: auto;
}

@media screen and (orientation: portrait) {
    .avatar {
        height: 179px;
    }
    .padding-auto {
        padding: none;
    }
    .hide-on-mobile {
        display: none;
    }
    .project {
        height: auto;
    }
    /* .tool-border {
        border: solid 0.5px black;
        border-radius: 5px;
    } */
}