.container {
    margin: 2em;
}

.avatar {   
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
}

.dark {
    color: gray;
    font-size: 90%;
}

.role {
    background-color: #0074d9;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.kongge {
    margin-right: 0.5em;
}

@media screen and (orientation: portrait) {
    .image {
        width: auto;
        height: 100%;
    }
}